{{define "title"}}View Board{{end}} {{define "main"}}
<h2>{{.Board.Title}}</h2>
<p>{{.Board.Description}}</p>
<table>
  <thead>
    <tr>
      <th colspan="2">Task</th>
      <th>Created</th>
      {{range $colId := .Board.ColumnOrder}} {{with index $.Board.Columns
      $colId}}
      <th id="{{.ID}}">{{.Name}}</th>
      {{else}}
      <th></th>
      {{end}} {{end}}
      <th>Delete</th>
      <th
        hx-post="/column/create/{{.Board.ID}}"
        hx-vals='{"name": "hello", "type": "Text"}'
      >
        +
      </th>
    </tr>
  </thead>
  {{range .Board.Groups}} {{template "group" .}} {{end}}
</table>
<form
  hx-post="/group/create/{{.Board.ID}}"
  hx-target="previous table"
  hx-swap="beforeend"
>
  <input type="text" name="name" placeholder="New Group" required />
  <button type="submit">create group</button>
</form>
{{end}} ```
