{{define "title"}}View Board{{end}} {{define "main"}}
<input class="board_title" type="text" name="board_title" value="{{.Board.Title}}" hx-put="/board/update/title/{{.Board.ID}}"></input>
<textarea class="board_description" name="board_description">{{.Board.Description}}</textarea>
<table id="{{.Board.ID}}" class="board">
  <thead>
    <tr class="columns">
      <th colspan="2" class="no-sort">Task</th>
      <th class="no-sort msgs_col"></th>
      <th class="no-sort">Created</th>
      {{range $col := .Board.ColumnOrder}}
        {{$colId := index $col "id" }}
        {{with index $.Board.Columns $colId}}
          {{if eq .Type "Text"}}
            <th id="{{.ID}}" class="column">
              <input data-type="{{.Type}}" type="text" value="{{.Name}}"
              hx-put="/column/update/{{.ID}}"
              hx-swap="none"
              ></input>
            </th>
          {{else if eq .Type "Number"}}
            <th id="{{.ID}}" class="column">
              <input data-type="{{.Type}}" type="text" value="{{.Name}}"
              hx-put="/column/update/{{.ID}}"
              hx-swap="none"
              ></input>
            </th>
          {{else if eq .Type "Status"}}
            <th id="{{.ID}}" class="column status_column">
              <input data-type="{{.Type}}" type="text" value="{{.Name}}"
              hx-put="/column/update/{{.ID}}"
              hx-swap="none"
              ></input>
            </th>
          {{else}}
            <th>Unadded type</th>
          {{end}}
        {{else}}
          <th>Col doesn't exist</th>
        {{end}}
      {{end}}
      <th class="no-sort">Delete</th>
      <th class="new_column_selection no-sort">
        <sl-dropdown>
          <sl-button slot="trigger" caret>+</sl-button>
          <sl-menu>
            <sl-menu-item
              hx-post="/column/create/{{.Board.ID}}"
              hx-vals='{"name": "Text", "type": "Text"}'
              >Text</sl-menu-item
            >
            <sl-menu-item
              hx-post="/column/create/{{.Board.ID}}"
              hx-vals='{"name": "Number", "type": "Number"}'
              >Number</sl-menu-item
            >
            <sl-menu-item
              hx-post="/column/create/{{.Board.ID}}"
              hx-vals='{"name": "Status", "type": "Status"}'
              >Status</sl-menu-item>
          </sl-menu>
        </sl-dropdown>
      </th>
    </tr>
  </thead>
  {{range .Board.Groups}} {{template "group" .}} {{end}}
</table>
<form class="insert_after"
  hx-post="/group/create/{{.Board.ID}}"
  hx-target="previous table"
  hx-swap="beforeend"
>
  <input type="text" name="name" placeholder="New Group" required />
  <button type="submit">create group</button>
</form>
<script>
  // TODO - implement filters to exclude unswappable els.
  const groups = document.querySelectorAll(".group");
  if (groups.length > 0) {
    console.log("got groups here");
    for (let i = 0; i < groups.length; i++) {
      const group = groups[i];
      const sortable = new Sortable(group, {
        swap: true,
        swapClass: "highlight",
        animation: 150,
        onEnd(evt) {
          const groupId = group.id;
          const swappedId = evt.item.id;
          const swappedOrder = evt.item.dataset.order;
          const targetId = evt.to.children[evt.oldIndex].id;
          const targetOrder = evt.to.children[evt.oldIndex].dataset.order;
          console.log("item swapped", evt.item, swappedId, swappedOrder);
          console.log(
            "target el",
            evt.to.children[evt.oldIndex],
            targetId,
            targetOrder
          );
          console.log("group id", groupId);

          htmx.ajax(
            "PUT",
            `/task/swap/{{.Board.ID}}/${groupId}/${swappedId}/${swappedOrder}/${targetId}/${targetOrder}`,
            { swap: "none" }
          );
        },
      });
    }
  } else {
    console.log("no groups here");
  }
</script>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const table = document.querySelector("table");
    if (!table) {
      console.log("no table found");
      return;
    }
    console.log("got table here");
    const thead = table.querySelector("thead");
    const tr = thead.querySelector("tr");
    const sortable = new Sortable(tr, {
      dataIdAttr: "id",
      ghostClass: "highlight",
      filter: ".no-sort",
      // implement data transfer to move columns
      // warning: affects column order
      onEnd(evt) {
        console.log("end", evt.item.id, evt);
        const order = sortable.toArray().slice(3, -2);
        htmx.ajax("PUT", "/column/drag/{{.Board.ID}}", {
          swap: "none",
          values: { order: order },
        });
      },
    });
  });
</script>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const drawers = document.querySelectorAll(".msgs_drawer");
    if (drawers) {
      drawers.forEach((drawer) => {
        const openButton = drawer.nextElementSibling;
        const closeButton = drawer.querySelector('sl-button[variant="primary"]');

        openButton.addEventListener('click', () => drawer.show());
        closeButton.addEventListener('click', () => drawer.hide());
      })
    }
  })
</script>
{{end}} ```
