{{define "group"}}
<tbody id="{{.ID}}" class="group">
  <tr>
    <td>
      <input class="group_name" type="text" name="group_name" value="{{.Name}}" hx-put="/group/update/title/{{.BoardId}}/{{.ID}}"></input>
    </td>
  </tr>
  {{range .Tasks}} {{template "task" .}} {{end}}
  <tr>
    <td colspan="2">
      <input
        type="text"
        name="task"
        placeholder="New Task"
        hx-post="/task/create/{{.BoardId}}/{{.ID}}"
        hx-target="previous tr"
        hx-swap="afterend"
      />
    </td>
  </tr>
</tbody>
{{end}}
