{{define "task"}}
<tr>
  <td colspan="2">{{.Content}}</td>
  <td>{{humanDate .CreatedAt}}</td>
  <!-- loop over columnIds, in each iteration render the column value or empty td -->
  <!-- for tasks with no ColumnValues, render len(.Board.Columns) empty tds -->
  {{with .ColumnValues}} {{range $k, $v := .}}
  <td>{{index $.ColumnValues $k}}</td>
  {{end}} {{else}}
  <td></td>
  <td></td>
  {{end}}
  <td>
    <button
      hx-delete="/task/delete/{{.BoardId}}/{{.GroupId}}/{{.ID}}"
      hx-target="closest tr"
      hx-swap="outerHTML"
    >
      Delete
    </button>
  </td>
</tr>
{{end}}
