{{define "task"}}
<tr id="{{.ID}}" data-order="{{.Order}}" class="task">
  <td colspan="2" class="task_content">{{.Content}}</td>
  <td>{{humanDate .CreatedAt}}</td>
  <!-- loop over columnIds, in each iteration render the column value or empty td -->
  <!-- for tasks with no ColumnValues, render len(.Board.Columns) empty tds -->
  {{with .ColumnValues}} {{range $colId := $.ColumnOrder}} {{if index
  $.ColumnValues $colId}}
  <td id="{{$colId}}">{{index $.ColumnValues $colId}}</td>
  {{else}}
  <td></td>
  {{end}} {{end}} {{else}} {{range .ColumnOrder}}
  <td></td>
  {{end}} {{end}}
  <td>
    <button
      hx-delete="/task/delete/{{.BoardId}}/{{.GroupId}}/{{.ID}}"
      hx-target="closest tr"
      hx-swap="outerHTML"
    >
      Delete
    </button>
  </td>
</tr>
{{end}}
